@tailwind base;
@tailwind components;
@tailwind utilities;

/* --events--bg: #262626;
--border-color: #363636;
--border-color-2: #454545;
--color--white: #fff;
--color--purple: #7263f3;
--color--black: #000;
--box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
--brad-1: 0.5rem;
--brad-2: 1rem;
--brad-3: 1.5rem;
--brad-4: 2rem; */

:root {
    --body-bg: #1e1e1e;
}

body {
    background-color: var(--body-bg);
    height: 100vh;
}